<div class="card" style="">
    <img class="card-img-top" src="~/assets/img/about-bg.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">About me</h5>
        <p class="card-text">Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest</p>
    </div>
</div>