@using FA.JustBlog.Core.Models;
@model IEnumerable<Post>
<div class="w-100">
    <h4 class="pt-4" style="color: var(--bs-teal)">Latest posts</h4>
    <hr />
    <!-- Post preview-->
    @foreach (var post in Model)
    {
        @await Component.InvokeAsync("PostCard", post)
        <!-- Divider-->
        <hr class="my-4" />
    }
    <!-- Pager-->
</div>